<!doctype html>
<html>
<head>
  <title>Game Time!</title>
</head>
<body>

<form action="/madlib">
<div>
  <label>What is your name? </label>
  <input type="text" name="person">
</div>  
<div>
  <label>What color would you like to choose? </label>
  <input type="text" name="color">
</div>  
  <label>Which is your favorite book? </label>
  <input type="text" name="noun">
<div>
  <label>How would you desscribe yourself? </label>
  <select name="adjective">
    <option value="fun-loving"> Fun-loving</option>
    <option value="nerd"> Nerd</option>
    <option value="cry-baby"> Cry-baby</option>
    <option value="adventurous"> Adventurous</option>
  </select>
</div>
  <input type="submit">
</form>

</body>
</html>
